a:hover {
	background: #EEE;
}

ul {
	margin: 0;
}

span.editors {
    font-style: italic;
    font-variant: normal;
}

span.rnrs {
	font-size: 75%;
	vertical-align: super;
}

code {
	font-family: 'menlo', sans-serif;
	font-size: 85%;
}

span.tt {
	font-family: 'menlo', sans-serif;
}
