{{ partial "header" . }}

<div>
  <nav style="width: 220px; float: left; position: fixed;">
    {{ partial "sidebar" . }}
  </nav>

  <section style="margin-left: 240px;">
    <div style="font-size: 300%;">
      Revised<span class="rnrs">7</span> Report on the Algorithmic Language<br>
      Scheme
    </div>

    <div style="font-variant: small-caps;">

      <div>
	Alex Shinn, John Cowan, and Arthur A. Gleckler
	(<span class="editors">Editors</span>)
      </div>

      <div>
	Steven Ganz
	Alexey Radul
	Olin Shivers

	Aaron W. Hsu
	Jeffrey T. Read
	Alaric Snell-Pym

	Bradley Lucier
	David Rush
	Gerald J. Sussman

	Emmanuel Medernach
	Benjamin L. Russel
      </div>

      <div>
	Richard Kelsey, William Clinger, and Jonathan Rees
	<span class="editors">
	  (Editors, Revised<span class="rnrs">5</span> Report on the Algorithmic Language Scheme)
	</span>
      </div>

      <div>
	Michael Sperber,
	R. Kent Dybvig, Matthew Flatt,
	and Anton van Straaten
	<span class="editors">
	  (Editors, Revised<span class="rnrs">6</span> Report on the Algorithmic Language Scheme)
	</span>
      </div>

      <div>
	<span class="editors">
	  Dedicated to the memory of John McCarthy and Daniel Weinreb
	</span>
      </div>

    </div>

    <div style="font-size: 150%; font-style: bold;">
      July 6, 2013
    </div>

  </section>
</div>

{{ partial "footer" . }}
